<!-- sub nav -->
<nav class="navbar navbar-fixed-top subnavbar" role="navigation">
  <div class="container">

    <ul class="nav navbar-nav navbar-left">
      <li>
        
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li></li>
      <li>
        <button type="button" class="btn btn-primary navbar-btn">Add User</button>
      </li>
    </ul>

  </div>
</nav><!-- //sub nav -->

<!-- contextmenu -->
<div contextmenu="meta.contextmenu" class="dropdown contextmenu">
  <ul class="dropdown-menu" role="menu">
    
    <li role="presentation" class="dropdown-header">
      {{ meta.contextmenu.$item.email }}
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href
         ng-href="#/user/{{ meta.contextmenu.$item.email }}/edit"
      >
        <span>Edit</span>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href 
        ng-click="delete( meta.contextmenu.$item )"
      >
        <span>Delete</span>
      </a>
    </li>
  </ul>
</div>

<div>
  <h2>Benutzer</h2>
  <div class="alert alert-block alert-info">
    Benutzer repräsentieren Mailkonten. Für sie wird automatisch ein Konto angelegt und eine Zieladresse 
    eingetragen. D.h. durch Anlegen eines Benutzers nimmt der Mailserver automatisch
    Mails an die Adresse des Benutzer entgegen.
  </div>
  <table class="table table-hover table-striped table-bordered" contextmenu-container="meta.contextmenu">
    <tr>
      <th>&nbsp;</th>
      <th>Benutzer</th>
      <th>Domains</th>
      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="row in data" contextmenu-item="row">
      <td class="col-center">
        <span class="fa fa-star" ng-show="row.is_admin" />
      </td>
      <td>{{row.email}}</td>
      <td>{{row.domains.join(', ')}}</td>
      <td class="col-center">
        <span class="fa fa-warning" ng-show="!user.maildirCheck.isMaildir" />
      </td>
    </tr>
  </table>

</div>

<!--
  <pre>
  {{ data | json }}
  {{ domains | json }}
  </pre>
-->