<h2>Adressen</h2>

<h3>Domain wählen</h3>
<p>
  <select class="form-control"
    ng-model="selectedDomain"
    ng-options="d.domain as d.domain for d in domains"
  >
    <option value=""> - </option>
  </select>
</p>

<div data-ng-show="selectedDomain">
  <h3>Liste der passenden Adressen</h3>
  <table class="table table-bordered table-hover table-striped">
  	<tr>
  		<th>#</th>
  		<th><i class="glyphicon glyphicon-refresh" /></th>
      <th><i class="glyphicon glyphicon-eye-open" /></th>
      <th>Adresse</th>
      <th>Ziel</th>
  	</tr>
  	<tr ng-repeat="row in addresses | filter:filterByDomain">
  		<td>
  			<a class="glyph-link" href ng-click="edit(row)"><span class="glyphicon glyphicon-edit"></span></a>
  			<a class="glyph-link" href ng-click="delete(row)"><span class="glyphicon glyphicon-remove"></span></a>
  		</td>
      <td><a href ng-click="toggleGreylisting( row );"><i class="glyphicon" ng-class="{
        'glyphicon-ok': row.enable_greylisting,
        'glyphicon-ban-circle': !row.enable_greylisting
      }"></i></a></td>
      <td><a href ng-click="togglePolicyd( row )"><i class="glyphicon" ng-class="{
        'glyphicon-ok': row.enable_policyd,
        'glyphicon-ban-circle': !row.enable_policyd
      }"></i></a></td>
  		<td>{{row.source}}</td>
  		<td>{{row.destination}}</td>
  	</tr>
  </table>
</div>

<!-- <p><br /></p> -->

<h2>Adresse hinzufügen/bearbeiten</h2>

<!-- <pre>{{user | json}}</pre> -->

<!-- ALERTS -->
<div 
	class="alert alert-block alert-success"
	ng-show="meta.addressCreated"
	ng-animate="{ show: 'animated pulse' }"
>
  <button type="button" class="close" ng-click="meta.addressCreated=false">&times;</button>
  <h4>Adresse hinzugefügt!</h4>
  Die Adresse wurde eingetragen und der Mailserver nimmt ab sofort Emails an diese Adresse entgegen.
</div>

<form
	role="form"
	name="addressForm"
	class=""
	ng-submit="submit( address )"
>
	<!-- SOURCE -->
  <div class="form-group row">
    <label class="control-label col-lg-12 col-md-12" for="email">
      Adresse
    </label>
    <div class="col-lg-6 col-md-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Alias"
          name="alias"
          ng-model="address.alias"
          ng-pattern="/^([a-z0-9-\.]+|\*)$/"
          required
        /><span class="input-group-addon">@</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <select
        class="form-control"
        ng-model="address.domain"
        ng-options="d.domain as d.domain for d in domains"
        required
      ></select>
    </div>
  </div>

  <!-- DESTINATION -->
  <div class="form-group">
    <label class="control-label" for="">
      Ziel
      <a href ng-click="addDestination( address )"><i class="glyphicon glyphicon-plus" /></a>
    </label>
    <div class="">
      <p ng-repeat="a in address._destinationsAsList track by $index">
      <select
      	class="form-control"
        ng-model="address._destinationsAsList[$index]"
        ng-options="u.email as u.email for u in users"
        required
      ></select>
    </p>
    </div>
  </div>

  <!-- GREYLISTING -->
  <div class="form-group">
      <div class="">
        <label class="checkbox">
          <input type="checkbox" ng-model="address.enable_greylisting" />
          <i class="glyphicon glyphicon-refresh" />
          Greylisting aktivieren
        </label>
    </div>
  </div>

  <!-- POLICYD -->
  <div class="form-group">
      <div class="">
        <label class="checkbox">
          <input type="checkbox" ng-model="address.enable_policyd" />
          <i class="glyphicon glyphicon-eye-open" />
          Policyd aktivieren
        </label>
    </div>
  </div>

  <!-- SUBMIT -->
  <div class="form-group">
      <div class="">
        <button ng-click="" type="button" class="btn btn-danger">Abbrechen</button>
        <button ng-disabled="!addressForm.$dirty || addressForm.$invalid " type="submit" class="btn btn-success">Hinzufügen</button>
    </div>
  </div>

</form>

<!--
<pre>{{ address    | json }}</pre>
<pre>{{ addresses  | json }}</pre>
<pre>{{ domains    | json }}</pre>
-->