<h2>Blockierte Adressen</h2>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>#</th>
    <th>Adresse</th>
  </tr>
  <tr ng-repeat="row in list">
    <td>
      <a href ng-click="delete(row)"><i class="glyphicon glyphicon-remove"></i></a>
    </td>
    <td>{{row.destination}}</td>
  </tr>
</table>

<p><br /></p>

<h2>Blockierte Adresse hinzufügen</h2>

<form
  role="form"
  name="blockedForm"
  class="form-horizontal"
  ng-submit="save( address )"
>
  <!-- DESTINATION -->
  <div class="form-group">
    <label class="control-label col-lg-2" for="email">
      E-Mail Adresse
    </label>
    <div class="col-lg-5 input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Alias"
        name="alias"
        ng-model="address.alias"
        ng-pattern="/^([a-z0-9-\.]+|\*)$/"
        required
      /><span class="input-group-addon">@</span>
    </div>
    <div class="col-lg-5">
      <select
        class="form-control"
        ng-model="address.domain"
        ng-options="d.domain as d.domain for d in domains"
        required
      ></select>
    </div>
</div>

<!-- SUBMIT -->
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button 
        ng-disabled="!blockedForm.$dirty || blockedForm.$invalid "
        type="submit"
        class="btn btn-primary"
      >Hinzufügen</button>
  </div>
</div>

</form>