<h2>Domain Liste</h2>
<table class="table table-bordered table-hover table-striped">
	<tr>
		<th>#</th>
		<th>Domain</th>
		<th>Subdomains</th>
	</tr>
	<tr ng-repeat="row in domains">
		<td>
			<a class="glyph-link" href ng-click="edit(row)">
				<span class="glyphicon glyphicon-edit"></span></a>
			<a class="glyph-link" href ng-click="delete(row)">
				<span class="glyphicon glyphicon-remove"></span></a>
		</td>
		<td>{{row.domain}}</td>
		<td>{{formatChilds(row.childs)}}</td>
	</tr>
</table>

<p><br /></p>

<h2>Domain hinzufügen</h2>
<form name="domain" class="form-horizontal" ng-submit="save( dom )">
	<div class="form-group">
		<label class="control-label col-lg-2" for="domain">
			Domain
		</label>
		<div class="col-lg-5">
			<input class="form-control" type="text" placeholder="Domain" ng-model="dom.domain">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-2" for="domain">
			Hauptdomain
		</label>
		<div class="col-lg-5">
			<select
				class="form-control"
				ng-model="dom.parent"
				ng-options="d.domain as d.domain for d in domains | parentDomain"
			></select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-5 col-lg-offset-2">
			<button ng-show="dom.meta.update" type="submit" class="btn btn-primary">Aktualisieren</button>
			<button ng-hide="dom.meta.update" type="submit" class="btn btn-primary">Hinzufügen</button>
		</div>
	</div>
</form>

<pre>
{{ domains | json }}
</pre>