<div 
  ng-hide="meta.show.userAdd"
>
  <h2>Benutzer</h2>
  <div class="alert alert-block alert-info">
    Benutzer repräsentieren Mailkonten. Für sie wird automatisch ein Konto angelegt und eine Zieladresse 
    eingetragen. D.h. durch Anlegen eines Benutzers nimmt der Mailserver automatisch
    Mails an die Adresse des Benutzer entgegen.
  </div>
  <table class="table table-hover table-striped">
    <tr>
      <th>#</th>
      <th>aktiv</th>
      <th>Administrator</th>
      <th>Benutzer</th>
      <th>Domains</th>
    </tr>
    <tr ng-repeat="row in data">
      <td>
        <a href ng-click="edit(row)"><i class="glyphicon glyphicon-edit"></i></a>
        <a href ng-click="delete(row)"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
      <td><input type="checkbox" ng-change="set(row)" ng-model="row.enabled" /></td>
      <td><input type="checkbox" ng-change="set(row)" ng-model="row.is_admin" /></td>
      <td>{{row.email}}</td>
      <td>{{row.domains.join(', ')}}</td>
    </tr>
  </table>

  <a ng-click="addUser()">
    <i class="glyphicon glyphicon-plus"/>
    Benutzer hinzufügen
  </a>

</div>
<div
  ng-animate="{ show: 'animated bounceInRight' }"
  ng-show="meta.show.userAdd"
  ng-controller="UserEditController"
  ng-include="'partials/user-edit.html'"
>
</div>

<pre>
{{ data | json }}
{{ domains | json }}
</pre>