<div>
  <h2>Benutzer</h2>
  <div class="alert alert-block alert-info">
    Benutzer repräsentieren Mailkonten. Für sie wird automatisch ein Konto angelegt und eine Zieladresse 
    eingetragen. D.h. durch Anlegen eines Benutzers nimmt der Mailserver automatisch
    Mails an die Adresse des Benutzer entgegen.
  </div>
  <table class="table table-hover table-striped">
    <tr>
      <th>#</th>
      <th>aktiv</th>
      <th>Administrator</th>
      <th>Benutzer</th>
      <th>Domains</th>
    </tr>
    <tr ng-repeat="row in data">
      <td>
        <a href="#/user/edit/{{row.email}}" class="glyph-link"><span class="glyphicon glyphicon-edit"></span></a>
        <a href class="glyph-link" ng-click="delete(row)"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
      <td><input type="checkbox" ng-change="set(row)" ng-model="row.enabled" /></td>
      <td><input type="checkbox" ng-change="set(row)" ng-model="row.is_admin" /></td>
      <td>{{row.email}}</td>
      <td>{{row.domains.join(', ')}}</td>
    </tr>
  </table>

  <a class="btn btn-primary" href="#/user/add">
    <i class="glyphicon glyphicon-plus"/>
    Benutzer hinzufügen
  </a>

</div>

<br /><br />

<pre>
{{ data | json }}
{{ domains | json }}
</pre>