<h2 ng-switch="meta.editMode">
  <span ng-switch-when="true">Benutzer bearbeiten</span>
  <span ng-switch-when="false">Benutzer hinzufügen</span>
</h2>

<!-- <pre>{{user | json}}</pre> -->

<!-- ALERTS -->
<div 
  class="alert alert-block alert-success"
  ng-show="meta.userCreated"
  ng-animate="{ show: 'animated pulse' }"
>
  <button type="button" class="close" ng-click="meta.userCreated=false">&times;</button>
  <h4>Benutzer hinzugefügt!</h4>
  Der Benutzer wurde erfolgreich hinzugefügt!
</div>

<form
  role="form"
  name="userForm"
  class="form-horizontal"
  ng-submit="save( user )"
>
  <!-- EMAIL -->
  <div class="form-group">
    <label class="control-label col-lg-2" for="email">
      E-Mail
    </label>
    <div class="col-lg-5">
      <input class="form-control" type="text" placeholder="Email" ng-model="user.email" />
    </div>
  </div>

  <div ng-show="meta.editMode"
    class="col-lg-5 col-md-offset-2 alert alert-info">
    {{ 'USER_EDIT_PASSWORD_INFO' | translate }}
  </div>

  <!-- PASSWORD -->
  <div style="clear:both;" class="form-group" ng-class="{ error: !userForm.plaintext1.$valid }">
    <label class="control-label col-lg-2" for="password">
      Passwort
    </label>
    <div class="col-lg-5">
      <input
        class="form-control"
        type="password"
        name="plaintext1"
        placeholder="Passwort"
        ng-model="user.plaintext1"
        ng-required="!meta.editMode || user.meta.setpw"
        ng-change="change( user.plaintext1 )"
      />
    </div>
  </div>

  <div class="form-group" ng-show="user.meta.setpw || !user.meta.update" ng-class="{ error: !userForm.plaintext1.$valid }">
    <label class="control-label col-lg-2" for="password">
      Passwort wiederholen
    </label>
    <div class="col-lg-5">
      <input
        class="form-control"
        type="password"
        name="plaintext2"
        placeholder="Passwort wiederholen"
        ng-model="user.plaintext2"
        ng-required="!meta.editMode || user.meta.setpw"
        ng-change="change( user.plaintext2 )"
      />
    </div>
  </div>

  <!-- DOMAINS -->
  <div class="form-group">
    <label class="control-label col-lg-2" for="password">
      Domains
    </label>
    <div class="col-lg-5">
      <select
        style="height:250px;"
        class="form-control"
        multiple="multiple"
        ng-model="user.domains"
        ng-options="d.domain as d.domain for d in domains"
      ></select>
    </div>
  </div>

  <!-- SUBMIT -->
  <div class="form-group">
    <div class="col-lg-5 col-lg-offset-2">
      <button
        ng-show="meta.editMode"
        ng-disabled="!userForm.$dirty || userForm.$invalid"
        type="submit" class="btn btn-primary"
        
      >{{ 'SAVE' | translate }}</button>
      <button
        ng-show="!meta.editMode"
        ng-disabled="!userForm.$dirty || userForm.$invalid"
        type="submit"
        class="btn btn-primary"
      >{{ 'ADD' | translate }}</button>
      <a href="#/user" class="btn btn-danger">Abbrechen</a>
    </div>
  </div>
</form>