<!-- sub nav -->
<nav class="navbar navbar-fixed-top subnavbar" role="navigation">
  <div class="container">

    <ul class="nav navbar-nav navbar-left">
      <li>
        
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <button
          ng-click=""
          type="button"
          class="btn btn-danger navbar-btn"
        ><span class="fa fa-times" /> Cancel</button>
      </li>
      <li>
        <button
          ng-disabled="!addressForm.$dirty || addressForm.$invalid "
          type="button"
          ng-click="save( address )"
          class="btn btn-primary navbar-btn"
        ><span class="fa fa-save" /> Save</button>
      </li>
    </ul>

  </div>
</nav><!-- //sub nav -->

<h2>Edit address</h2>

<!-- ALERTS -->
<div 
  class="alert alert-block alert-success"
  ng-show="meta.addressCreated"
  ng-animate="{ show: 'animated pulse' }"
>
  <button type="button" class="close" ng-click="meta.addressCreated=false">&times;</button>
  <h4>Adresse hinzugefügt!</h4>
  Die Adresse wurde eingetragen und der Mailserver nimmt ab sofort Emails an diese Adresse entgegen.
</div>

<form
  role="form"
  name="addressForm"
  class=""
  ng-submit="submit( address )"
>
  <!-- SOURCE -->
  <div class="form-group row">
    <label class="control-label col-lg-12 col-md-12" for="email">
      Source
    </label>
    <div class="col-md-5">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Alias"
          name="source"
          ng-model="address.$alias"
          ng-pattern="/^([a-z0-9-\.]+|\*)$/"
          required
        /><span class="input-group-addon">@</span>
      </div>
    </div>
    <div class="col-md-5">
      <select
        class="form-control"
        ng-model="address.$domain"
        ng-options="d.domain as d.domain for d in domains"
        required
      ></select>
    </div>
    <div class="col-md-2">
      <button 
        class="btn"
        type="button"
        ng-model="address.enable_greylisting"
        btn-toggle
        data-toggle="tooltip"
        data-placement="top"
        title="enable greylisting"
      ><span class="fa fa-repeat" /></button>

      <button 
        class="btn"
        type="button"
        ng-model="address.enable_policyd"
        btn-toggle
        data-toggle="tooltip"
        data-placement="top"
        title="enable policyd"
      ><span class="fa fa-eye" /></button>
    </div>
  </div>

  <!-- DESTINATION -->
  <div class="form-group row">
    <label class="control-label col-md-12" for="">
      Target
    </label>
    <div class="col-md-10 margin-bottom-sm"
        ng-repeat="(i, dest) in address.destination track by $index">
      <div class="input-group">
        <span class="input-group-btn">
          <button ng-click="destination.remove(i)" class="btn btn-danger" type="button">
            <span class="fa fa-times" />
          </button>
        </span><input
          type="text"
          class="form-control"
          placeholder="Destination"
          ng-model="address.destination[i]"
          name="destination"
          
        >
<!--ng-pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/gi"-->

      </div>
    </div>
  </div>

</form>

<!-- 
<pre>{{ address |json }}</pre>

<pre>{{ domains |json }}</pre>
 -->
