<!-- sub nav -->
<nav class="navbar navbar-fixed-top subnavbar" role="navigation">
  <div class="container">

    <ul class="nav navbar-nav navbar-left">
      <li>
        
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <button
          ng-click=""
          type="button"
          class="btn btn-danger navbar-btn"
        ><span class="fa fa-remove" /> Abbrechen</button>
      </li>
      <li>
        <button
          ng-disabled="!addressForm.$dirty || addressForm.$invalid "
          type="submit"
          class="btn btn-primary navbar-btn"
        ><span class="fa fa-plus" /> Add</button>
      </li>
    </ul>

  </div>
</nav><!-- //sub nav -->

<!-- <h2>Adressen</h2>

<h3>Domain wählen</h3>
<p>
  <select class="form-control"
    ng-model="selectedDomain"
    ng-options="d.domain as d.domain for d in domains"
  >
    <option value=""> - </option>
  </select>
</p>

<div data-ng-show="selectedDomain">
  <h3>Liste der passenden Adressen</h3>
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>#</th>
      <th><i class="glyphicon glyphicon-refresh" /></th>
      <th><i class="glyphicon glyphicon-eye-open" /></th>
      <th>Adresse</th>
      <th>Ziel</th>
    </tr>
    <tr ng-repeat="row in addresses | filter:filterByDomain">
      <td>
        <a class="glyph-link" href ng-click="edit(row)"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="glyph-link" href ng-click="delete(row)"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
      <td><a href ng-click="toggleGreylisting( row );"><i class="glyphicon" ng-class="{
        'glyphicon-ok': row.enable_greylisting,
        'glyphicon-ban-circle': !row.enable_greylisting
      }"></i></a></td>
      <td><a href ng-click="togglePolicyd( row )"><i class="glyphicon" ng-class="{
        'glyphicon-ok': row.enable_policyd,
        'glyphicon-ban-circle': !row.enable_policyd
      }"></i></a></td>
      <td>{{row.source}}</td>
      <td>{{row.destination}}</td>
    </tr>
  </table>
</div> -->

<!-- <p><br /></p> -->

<h2>Edit address</h2>

<!-- ALERTS -->
<div 
  class="alert alert-block alert-success"
  ng-show="meta.addressCreated"
  ng-animate="{ show: 'animated pulse' }"
>
  <button type="button" class="close" ng-click="meta.addressCreated=false">&times;</button>
  <h4>Adresse hinzugefügt!</h4>
  Die Adresse wurde eingetragen und der Mailserver nimmt ab sofort Emails an diese Adresse entgegen.
</div>

<form
  role="form"
  name="addressForm"
  class=""
  ng-submit="submit( address )"
>
  <!-- SOURCE -->
  <div class="form-group row">
    <label class="control-label col-lg-12 col-md-12" for="email">
      Source
    </label>
    <div class="col-md-5">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Alias"
          name="alias"
          ng-model="address.alias"
          ng-pattern="/^([a-z0-9-\.]+|\*)$/"
          required
        /><span class="input-group-addon">@</span>
      </div>
    </div>
    <div class="col-md-5">
      <select
        class="form-control"
        ng-model="address.domain"
        ng-options="d.domain as d.domain for d in domains"
        required
      ></select>
    </div>
    <div class="col-md-2">
      <button 
        class="btn"
        type="button"
        ng-model="address.enable_greylisting"
        btn-toggle
        data-toggle="tooltip"
        data-placement="top"
        title="enable greylisting"
      ><span class="fa fa-repeat" /></button>

      <button 
        class="btn"
        type="button"
        ng-model="address.enable_policyd"
        btn-toggle
        data-toggle="tooltip"
        data-placement="top"
        title="enable policyd"
      ><span class="fa fa-eye" /></button>
    </div>
  </div>

  <!-- DESTINATION -->
  <div class="form-group row">
    <label class="control-label col-md-12" for="">
      Target
    </label>
    <div class="col-md-10" ng-repeat="alias in address.alias">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
            <span class="fa fa-times" />
          </button>
        </span><input
          type="text"
          class="form-control"
          placeholder="Destination"
          name="alias"
          ng-model="alias"
          ng-pattern="/^([a-z0-9-\.]+|\*)$/"
          required
        />
      </div>
    </div>
  </div>

</form>
