<!-- sub nav -->
<nav class="navbar navbar-fixed-top subnavbar" role="navigation">
  <div class="container">

    <ul class="nav navbar-nav navbar-left">
      <li>
        
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li></li>
      <li>
        <a 
          ng-href="#/address/create"
          class="btn btn-primary navbar-btn">
            <span class="fa fa-plus" />
            Add
        </a>
      </li>
    </ul>

  </div>
</nav><!-- //sub nav -->



<!-- headline -->
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2>List of address</h2>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group h2-box">
      <div class="input-group">
        <div class="input-group-addon">
          
          <div class="dropdown">
            <span class="fa fa-filter dropdown-toggle" data-toggle="dropdown" />
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <a ng-click="filter.add('source')" role="menuitem" tabindex="-1" href>
                  Add source filter
                </a>
              </li>
              <li role="presentation">
                <a ng-click="filter.add('destination')" role="menuitem" tabindex="-1" href>
                  Add destination filter
                </a>
              </li>
            </ul>
          </div>

        </div>
        <div class="search-with-tags">
          <div class="tags">
            <a href class="label label-info" ng-repeat="(filter, values) in meta.filter">
              &times; {{ filter }}: {{ values.join(', ') }}
            </a>
          </div>
          <div class="search">
            <input 
              placeholder="Suche"
              type="text"
              class="form-control-invisible"
              ng-model="meta.search"
              ng-change="search( meta.search )"
              autofocus="autofocus"
              set-focus="filter.focusSerch"
              on-space="filter.check"
            >
          </div>
        </div>
        <span class="input-group-addon">
          <a href ng-click="search( meta.search )">
            <i class="fa fa-search"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- contextmenu -->
<div contextmenu="meta.contextmenu" class="dropdown contextmenu">
  <ul class="dropdown-menu" role="menu">
    
    <li role="presentation" class="dropdown-header">
      {{ meta.contextmenu.$item.source }}
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href
         ng-href="#/address/{{ meta.contextmenu.$item.source }}/edit"
      >
        <span>Edit</span>
      </a>
    </li>
<!--     <li role="presentation">
      <a role="menuitem" tabindex="-1" href 
        ng-click="delete( meta.contextmenu.$item )"
      >
        <span>Delete</span>
      </a>
    </li> -->
  </ul>
</div>

<!-- table -->
<table class="table table-striped table-hover table-bordered" contextmenu-container="meta.contextmenu">
  <tr>
    <th>
      Source
    </th>
    <th>
      Destination
    </th>
  </tr>

  <tr ng-repeat="row in list" contextmenu-item="row">
    <td>
      {{ row.source }}
    </td>
    <td>
      {{ row.destination.join(', ') }}
    </td>
  </tr>
</table>

<p>
  <br /><br /><br />
</p>

<!-- <pre>{{ list | json }}</pre> -->